<!DOCTYPE html>
<html lang="en">
<head>

<!-- 

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <meta http-equiv="refresh" content="1">

-->

    <meta charset="UTF-8">
    <title>Game Master</title>
	<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>

<body>

<!-- 
No scroll bars
-->


<style>
    html, body {
        margin:0; padding:0; overflow: hidden;
		height: 100%;
		width: 100%;
		display: flex;
        align-items: center;
        justify-content: center;
    }
</style>



<svg width="100%" height="100%">


<script>
//--onload, onresize----
function sizeSVG()
{
	var mySVG=document.getElementsByTagName("svg")[0]

  	var svgW=window.innerWidth
	var svgH=window.innerHeight

	//console.log(bbw);

    //mySVG.setAttribute("viewBox",0+" "+0+" "+svgW+" "+svgH )
	
    mySVG.setAttribute("width",svgW)
    mySVG.setAttribute("height",svgH)
		
	
}

document.addEventListener("onload",sizeSVG(),false)
window.onresize=sizeSVG



</script>

 
<svg preserveAspectRatio="xMidYMid meet"></svg>

<svg>

<rect width="100%" height="100%" fill="blue" rx="0" ry="0"/>
 
<!-- 

<text x="50%" y="10%" fill="yellow" font-family="'Verdana-Bold'" font-size="60px" dominant-baseline="middle" text-anchor="middle">
Kahoot!
</text>

<text x="50%" y="40%" fill="yellow" font-family="'Verdana-Bold'" font-size="40px" dominant-baseline="middle" text-anchor="middle">
Select your game
</text>

-->	

</svg>


<!-- 
<div class="buttons" style="position:absolute;  width: 20%; height: 10%;text-align:center;vertical-align">

-->	


<div style="position:absolute;top:1%;font-size:80px;color:yellow;text-align:center">

<p>Kahoot!</p>

</div>




<div style="position:absolute;top:20%;margin-left:auto;margin-right:auto;margin-top:auto;margin-bottom:auto;font-size:40px;color:yellow;text-align:center">

<p>Select your game</p>

</div>




<div class="buttons" style="position:absolute;top:30%;margin-left:auto;margin-right:auto;margin-top:auto;margin-bottom:auto">

<!-- 
    <input type="text" id="message" placeholder="Game PIN" style="height:40%;width:60%;font-size:20px; text-align: center">
	<br>

    <button type=“submit” id="game1" style="height:40%;width:60%;font-size:20px;background-color: purple; color:white; border:2px solid white;border-radius:8px">Politics Trivia</button>
-->		
	<button type=“submit” id="game1" class="btn-hover color-1" style="font-size:25px">Politics Trivia</button>	
	<br>
	<button type=“submit” id="game2" class="btn-hover color-2" style="font-size:25px">Animal Trivia</button>	
	<br>	
	<button type=“submit” id="game3" class="btn-hover color-3" style="font-size:25px">Sports Trivia</button>	
	<br>	
	<button type=“submit” id="game4" class="btn-hover color-6" style="font-size:25px">Music Trivia</button>	
	
<div>

     

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script
              src="http://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>