<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/stylesheet.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
</head>

<body>

<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">

<!-- 
No scroll bars
-->
<style>
    html, body {
        margin:0; padding:0; overflow: hidden;
		height: 100%;
		width: 100%;
		display: flex;
		
        align-items: center;
        justify-content: center;
    }
</style>



<svg width="100%" height="100%">


<script>
//--onload, onresize----
function sizeSVG()
{
	var mySVG=document.getElementsByTagName("svg")[0]

  	var svgW=window.innerWidth
	var svgH=window.innerHeight


    //mySVG.setAttribute("viewBox",bbx+" "+bby+" "+svgW+" "+svgH )
	
    mySVG.setAttribute("width",svgW)
    mySVG.setAttribute("height",svgH)
		
	
}

document.addEventListener("onload",sizeSVG(),false)
window.onresize=sizeSVG



</script>

 
<svg preserveAspectRatio="xMidYMid meet"></svg>

<svg>

<rect width="100%" height="100%" fill="silver" rx="0" ry="0"/>

<rect height="7%" x="0%" y="40%" fill="white" rx="0px" ry="0px"/>
<rect height="5%" x="0%" y="95%" fill="white" rx="0px" ry="0px"/>

<circle id="timec" cx="10%" cy="25%" r="3%" fill="purple"/>

</svg>


<div style="position:absolute;top:1%;font-size:80px;color:yellow;text-align:center">

<p>Kahoot!</p>

</div>



<div id="question" style="position:absolute;top:41%;margin-left:auto;margin-right:auto;margin-top:auto;margin-bottom:auto;font-size:40px;color:black;text-align:center">

<p></p>

</div>


<div id="gamepin" style="position:absolute;top:96%;margin-left:auto;margin-right:auto;margin-top:auto;margin-bottom:auto;font-size:20px;color:black;text-align:center">

<p></p>

</div>


<div id="time" style="position:absolute;top:17%;left:8.6%;margin-left:auto;margin-right:auto;margin-top:auto;margin-bottom:auto;font-size:50px;color:white">

<p>30</p>

</div>




<script type="text/javascript">
	
   var query = window.location.search.substring(1).split("&");


      var game_pair = query[0].split('='); // The even part of each pair contains the type of variable, and the odd part the value
      var pin_pair = query[1].split('=');	  

   // pair 0 : status

   //console.log(pair[1]);  
	  
   var game = decodeURI(game_pair[1].replace('+',' '));
   var pin = decodeURI(pin_pair[1].replace('+',' '));

   var text1 = game + '\xa0\xa0\xa0\xa0\xa0\xa0\xa0' + " PIN: " + pin; // xa0 is used for spaces (multiple spaces don't work!)
     
  	 
   console.log(text1);	 
	 
   document.getElementById("gamepin").innerHTML = text1; 
	  
   

</script>
	  	  




<div class="buttonsb" style="position:absolute;top:60%">


    <button type=“submit” id="answer-red" class="btnb-hover color-1" style="font-size:30px">Enter</button>	
	
	
    <button type=“submit” id="answer-blue" class="btnb-hover color-2" style="font-size:30px">Enter</button>
    <br>	
    <button type=“submit” id="answer-orange" class="btnb-hover color-3" style="font-size:30px">Enter</button>	
    <button type=“submit” id="answer-green" class="btnb-hover color-4" style="font-size:30px">Enter</button>	   
   
   
   
<div>


<script>

//question-red.style.background-color="red";   ;margin-left:auto;margin-right:auto;margin-top:auto;margin-bottom:auto  ;top:75%

// TEMP - read from file

//document.getElementById("timec").style.r = "10%";

document.getElementById("question").innerText = "Who composed Beethoven's 5th symphony?";

document.getElementById("answer-red").innerText = "Beethoven";
document.getElementById("answer-blue").innerText = "Mozart";
document.getElementById("answer-orange").innerText = "Tchaikovsky";
document.getElementById("answer-green").innerText = "Bach";


/*
document.getElementById("answer-red").style.background = "red";
document.getElementById("answer-blue").style.background = "blue";
document.getElementById("answer-orange").style.background = "orange";
document.getElementById("answer-green").style.background = "green";
*/

var button_width = window.innerWidth/2 - 10;
var button_width_px = button_width + "px";

var button_height = window.innerHeight/6;
var button_height_px = button_height + "px"; 


var button_red_y = window.innerHeight*(3/4);
var button_red_y_px = button_red_y + "px";

console.log(button_red_y_px);

document.getElementById("answer-red").style.width = button_width_px;
document.getElementById("answer-red").style.height = button_height_px;

document.getElementById("answer-blue").style.width = button_width_px;
document.getElementById("answer-blue").style.height = button_height_px;

document.getElementById("answer-orange").style.width = button_width_px;
document.getElementById("answer-orange").style.height = button_height_px;

document.getElementById("answer-green").style.width = button_width_px;
document.getElementById("answer-green").style.height = button_height_px;


document.getElementById("answer-red").style.left = "10px";
document.getElementById("answer-red").style.top = button_red_y_px;


</script>


     

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script
              src="http://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>